.input-group{
    padding-top: 15px;
}

p{
    font-size: 15px;
}

.btn-light{
    color: #212529;
    background-color: #eaeaea;
    border-color: #d4d4d4;
}

.form-group label{
    margin-bottom: 5px; 
    font-size: 15px;
}

.form-group input{
    font-size: 15px;
    height: 30px; 
    line-height: 30px;
    
}

.form-group select{

    font-size: 15px;
    height: 30px; 
    line-height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#alertaMensaje{
background: #dc3545b3;
padding: 10px 10px;
}

.focusedAlert{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #FF5722;
}
